:root {
    --upfront: 30%;
    --central-part-form: 40%;
    --last-section:30%;
    --gray-fox: rgb(56, 84, 99);
    --psichogreen: chartreuse;
    --orangeredobscure: rgb(176, 47, 0);


}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

html {
    height: 100%;
    
}

body {
    width: 100vw;
    height: 100%;    
    background-color: var(--orangeredobscure);
    overflow: hidden;
    
}

#big-container {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    background-color: var(--gray-fox);
    
}

img {
    height: 100vh;

}

form {
    max-width:100%;
    border: 2px solid transparent;

}

form:hover {
    border: 2px solid rgb(29, 58, 112);
    background-color: rgba(21, 21, 21, 0.7);  
    color: #eee;  
}

fieldset {
    padding: 10px 30px 0;
}


fieldset > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow:column;
}

div fieldset h2 {
    margin-bottom: 50px;
}

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
    max-width: 400px;
  }

input:hover, input:focus, input:focus-visible {
    background-color: #eee;
}

input:focus-visible {
    background-color: orangered;
}

input:invalid {
    border: 4px solid red;
}

input:invalid + span::before {
    content: "✖";
    color: red;
  }

input:valid {
    color: green;
    background-color: black;
    border: 4px solid white;
}

input:valid + span::after {
    visibility: hidden;
}

input:valid + span::before {
    content: "✓";
    color: green;
  }  

input + span {
    position: relative;
  }  

  input + span::before {
    position: absolute;
    left: 410px;
    top: -25px;
  }

input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    top: -29px;
    left: 322px;
  } 



  

.description-part {
    height: 30vh;
    width: 100%;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 30px;
}

.description-part p {
    margin-bottom: 2rem;
    max-width: 600px;
    line-height: 1.6;
    color: white;
     
}


#the-footer-section {
    height: 100%;
    padding: 30px;

}

#the-footer-section button {
    background-color: rgb(255, 255, 255);
    color: var(--gray-fox);     
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
}

#the-footer-section button:hover {
    background-color: var(--gray-fox);
    color: white;
    border: 2px solid white;
}

/* unvisited link */
#already-subscribed:link {
    color: white;
    text-decoration: none;
}

/* visited link */
#already-subscribed:visited {
    color: hotpink;
}

/* mouse over link */
#already-subscribed:hover {
    color: var(--orangeredobscure);
}

/* selected link */
#already-subscribed:active {
    color: var(--psichogreen);
}


